NEXT_PUBLIC_HOST_API_CLIENT_URL=https://api.example.com
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_123
NEXT_PUBLIC_VALUES_IDENTIFIER_APP=https://app.valuesidentifier.com
NEXT_PUBLIC_CLIENT_BASE_URL=https://www.valuesidentifier.com
NEXT_PUBLIC_COACH_PORTAL_URL=https://coaches.valuesidentifier.com
NEXT_PUBLIC_PARTNERO_PROGRAM_ID=YOUR_PARTNERO_PROGRAM_ID
NEXT_PUBLIC_AI_API_KEY=your-ai-api-key

